html {
  scrollbar-width: thin;
  scrollbar-color: #424242 #212121;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.6vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #424242;
}

html::-webkit-scrollbar-track {
  background-color: #212121;
}

nav {
  margin-top: 100vh;
  position: sticky;
  top: 0;
  margin-bottom: 5rem;
  z-index: 1;
}

img.img-profile {
  width: 30%;
  border-radius: 50%;
}

span.about-detail {
  display: block;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.progress {
  margin: 10px auto;
  width: 100%;
  height: 20px;
  overflow: hidden;
  border-radius: 5px;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font-size: 12px;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.font-weight-600 {
  font-weight: 600;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 5rem;
}

.box-neumorphism {
  background: #212121;
  box-shadow: 9px 9px 18px #151515, -6px -6px 18px #2d2d2d;
}

.box-neumorphism-inset {
  background: #212121;
  box-shadow: inset 9px 9px 18px #151515, inset -6px -6px 18px #2d2d2d;
}

.border-radius-20 {
  border-radius: 20px !important;
}

.custom-floating-btn {
  visibility: visible;
}

.custom-backtotop-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
}

.portfolio-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

i {
  pointer-events: none;
}

img.brightness-80 {
  filter: brightness(80%);
}

@media screen and (max-width: 600px) {
  .flex-sm-column {
    display: flex;
    flex-direction: column;
  }

  .padding-sm-0 {
    padding: 0 !important;
  }

  .text-sm-center {
    text-align: center;
  }

  .portfolio-row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .portfolio-row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .custom-floating-btn {
    visibility: hidden;
  }
}
